#hero {
  background: rgb(9,76,121);
  background: linear-gradient(180deg, rgba(9,76,121,1) 38%, var(--bs-primary) 100%);

  // target the first row
  .container > .row {
    @include media($bp-lg) {
      height: min(95vh, 800px);
    }
  }

  section {
    color: #ffffff;
    h1 {
      @include font-secondary;
      font-size: 3rem;
      @include media($bp-lg) {
        font-size: 3.5rem;
      }
      margin-bottom: 0.8rem;
      line-height: 1;

    }

    p {
      font-size: 1.2rem;
      @include font-primary;
      @include media($bp-lg) {
        font-size: 1.5rem;
      }
      span {
        color: rgba(255, 255, 255, 0.80);
      }
    }

    .social-links {
      width: 50%;
      min-width: 400px;
      text-align: left;

      .row{
        justify-content: center;

        @include media($bp-lg) {
          justify-content: start;
        }
      }

      a {
        text-decoration: none;

        i {
          font-size: 2rem;
          @include transition();
          color: #ffffff;

          &:hover {
            color: var(--bs-accent);
          }
        }
      }
    }
  }

  .img-container {
    overflow: hidden;
    min-width: 16rem;
    width: 80%;
    aspect-ratio: 1;
    position: relative;
    @include mx-auto;
    max-width: 400px;
    margin-top: 3rem;
    @include media($bp-lg) {
      max-width: none;
      margin-top: 0;
    }
    border-radius: 50%;
    border: solid 1rem rgba(#000, .2); 

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      //object-fit: cover;
      width: 100%;
      height: auto;
    }
  }
}

#resume {

  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: min-content;

  @include media($bp-lg) {
    margin-left: 0;
  }

  .button {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 200px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(22px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(149px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: var(--main-color);
  }
  
  .button:hover {
    background: var(--bg-color);
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 200px;
    transform: translateX(0);
  }
  
  .button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }
}